
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.base{

    height: 200px; 
    width: 30px;
    justify-content: center;
    background: rgb(240, 225, 22);
    border: 3px;
}

.parent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box{

    height: 500px;
    width: 250px;
    background: black;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.light{
width: 150px;
height: 150px;
justify-content: center;
border-radius: 50%;
margin: auto;
margin-top: 12px;

}

.green{
    background: green;
}

.yellow{
    background: yellow;

}

.red{
    background: red;
}

.redOn {
    box-shadow: 5px 3px 104px 56px red
}
.yellowOn {
    box-shadow: 5px 3px 104px 56px yellow
}

.greenOn {
    box-shadow: 5px 3px 104px 56px green
}
